sudo: false
dist: trusty

language: cpp

os: linux

compiler:
    - gcc
    - clang

addons:
    apt:
        packages:
            - libboost-all-dev

matrix:
    include:
        - os: osx
          compiler: clang
          env: CONFIG=Release

before_script:
    - mkdir build

script:
    - cd build
    - cmake -DCMAKE_VERBOSE_MAKEFILE=ON ..
    - make -j 2
    - make test
